<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<h2>Welcome to Myanmar IT Consulting</h2>
		</div>
		<div class="panel-body">
			<p>Myanmar IT Consulting is an IT Recruitment and HR Service Agency in Myanmar founded by Myanmar IT Professionals. We have strong knowledge in Myanmar IT idustry and we provide IT recruitment and HR services. We have enough experiences in IT recruitment and contract staffing field of Myanmar IT Industry.</p>
			<p>We are now providing services to IT Software Companies and Telecommunication Companies. Our clients include Myanmar IT Companies and Offshore Development Centers from USA and Singapore IT Companies. You can openly dicuss your requirements to us. We would like to provide our services based on your requirements.</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Who we are</h2>
		</div>
		<div class="panel-body">
			<p>We are Myanmar IT Professionals who have good experiences in Myanmar IT industry. Our recruitment experts have enough experience in the placement of temporary and permanent staff for Myanmar IT Companies. Myanmar IT Consulting has founded in 2013 to service local IT Companies. In 2014, IT Companies from Singapore started their Offshore Development Centers in Myanmar. We provide recruitment service for them. We are now the No. 1 IT Recruitment agency for IT companies in Myanmar. We know very well about Myanmar IT Professionals and Myanmar IT Industry.</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>How we works</h2>
		</div>
		<div class="panel-body">
			<p>We collect your requirement details. We find the most suitable solutions for your organization. Then we provide the best solution to you.With a proven record we have achieved many clients in Myanmar IT Industry. We have strong working relationship with our clients to get their satisfaction and professional working relationships.</p>
		</div>
	</div>
</div>