<div class="container">
	<!-- Default panel contents -->
	<div class="panel panel-info panel-heading text-center"><h4><strong>All Job Opportunities</strong></h4></div>

	<!-- Table -->
	<table class="table table-hover">
		<thead>
			<th>Date</th>
			<th>Position</th>
			<th>Salary</th>
			<th>Location</th>
		</thead>
		<tbody>
			<tr>
				<td>30-5-2015</td>
				<td><a href="#">Junior PHP Developer(Experience 1 Year)</a></td>
				<td>USD 200 - 300</td>
				<td>Yangon(Hlaing)</td>
			</tr>
			<tr>
				<td>30-5-2015</td>
				<td><a href="#">Senior PHP Developer(Experience 1 Year)</a></td>
				<td>USD 500 - 600</td>
				<td>Yangon(Hlaing)</td>
			</tr>
			
		</tbody>
	</table>
</div>