<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h2 class="text-center">Recruitment</h2>
		</div>
		<div class="panel-body">
		<p class="text-justify">We know very well about Myanmar IT Professionals and Myanmar. Our recruitment experts have enough experience in the placement of temporary and permanent staff for your organization.With a proven record we have achieved many clients in Myanmar IT Industry. We have strong working relationship with our clients to get their satisfaction and professional working relationships. We would like to build a long term relationship with our clients and candidates respectively.</p>
			<p class="text-justify">We will take responsibility for each step in the recruitment process from the sourcing, selection and recruitment of staff through the pre interview process, reference checking and the induction of staff.</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="text-center">Contract Staffing</h2>
		</div>
		<div class="panel-body">
			<p class="text-justify">We know very well about your requirement on IT Professionals based on your project. Our contract staffing service is suitable with your short term requirement of IT Professionals.When your organization want to hire the professionals based on your project requirement, we provide our Contract Staffing service. Your organization focus your core functions and our HR experts will manage the professionals.</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="text-center">HR Outsourcing</h2>
		</div>
		<div class="panel-body">
			<p class="text-justify">HR Outsourcing is the best solution for your organization to start your Offshore Development Team in Myanmar. We provide the most suitable solution based on your requirement. We can provide recruitment service and HR Management services to you.Our HR experts can provide HR Manage service for your Offshore Development Center in Myanmar.We build an Offshore Development Team for you , operate it and we can transfer to you.</p>
		</div>
	</div>
</div>